@{
    ViewBag.Title = "Wihajster";
}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <div class="container">
                <img src="../../Assets/wihajster.png" class="img-responsive col-lg-12 col-md-12 col-sm-12"/>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Wihajster</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lorem eros, sagittis ac leo at, dictum ullamcorper urna. Nunc aliquet accumsan nisi, at euismod purus tristique in. Aliquam in nisi sed neque pellentesque eleifend. Nunc blandit mauris eu augue consectetur tincidunt. Quisque tempor, nulla eget mollis tempor, arcu tortor mattis augue, eu fringilla turpis quam finibus risus. Morbi felis justo, aliquam eget ex quis, fermentum bibendum nisl. Donec a egestas dui. Quisque velit felis, condimentum sit amet tellus in, placerat auctor dolor.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Wihajster</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lorem eros, sagittis ac leo at, dictum ullamcorper urna. Nunc aliquet accumsan nisi, at euismod purus tristique in. Aliquam in nisi sed neque pellentesque eleifend. Nunc blandit mauris eu augue consectetur tincidunt. Quisque tempor, nulla eget mollis tempor, arcu tortor mattis augue, eu fringilla turpis quam finibus risus. Morbi felis justo, aliquam eget ex quis, fermentum bibendum nisl. Donec a egestas dui. Quisque velit felis, condimentum sit amet tellus in, placerat auctor dolor.</p>
    </div>
    <div class="col-md-4">
        <h2>Wihajster</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lorem eros, sagittis ac leo at, dictum ullamcorper urna. Nunc aliquet accumsan nisi, at euismod purus tristique in. Aliquam in nisi sed neque pellentesque eleifend. Nunc blandit mauris eu augue consectetur tincidunt. Quisque tempor, nulla eget mollis tempor, arcu tortor mattis augue, eu fringilla turpis quam finibus risus. Morbi felis justo, aliquam eget ex quis, fermentum bibendum nisl. Donec a egestas dui. Quisque velit felis, condimentum sit amet tellus in, placerat auctor dolor.</p>
    </div>
</div>